.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 200px;
}

@media (max-width: 550px) {
  .title {
    font-size: 100px;
  }
}
.d {
  color: var(--primary-mid);
}
