.login_bg {
  background-image: url("../assets/bg-purple.svg");
  background-position: center;
  background-size: cover;
}
.card {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.back {
  color: black;
  font-size: 30px;
  transition: all 0.2s;
  display: flex;
}

.back:hover {
  color: var(--primary-mid);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
  padding: 3px;
}
.error {
  color: red;
  font-size: 12px;
}
.title {
  text-align: center;
}

.forgot {
  cursor: none;
  transition: all 0.2s;
  font-size: 17px;
}

.forgot:hover {
  cursor: pointer;
  color: var(--primary-mid);
}

.create {
  cursor: none;
  transition: all 0.2s;
  text-decoration: underline;
  text-align: center;
}

.create:hover {
  cursor: pointer;
  color: var(--primary-mid);
}

.input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--primary-dark);
}

.input::placeholder {
  color: var(--border);
}

.input:focus:invalid {
  border-bottom: 1px solid var(--danger-mid);
}
