<app-card cardTitle="Chat" blockClass="m-t-10" [options]="false">
    <div style="overflow-y: auto; height: 300px;">
        <ul class="feed-blog ps-0" style="list-style-type: none;">
            <li>
                <h6>
                    <span class="badge bg-primary">Domiciliario</span>
                    Thomas
                </h6>
                <p class="m-b-15 m-t-15">
                    Hola Mundo
                </p>
            </li>
            <li>
                <h6>
                    <span class="badge bg-success">Cliente</span>
                    Invitado
                </h6>
                <p class="m-b-15 m-t-15">
                    Hola Mundo
                </p>
            </li>
            <li>
                <h6>
                    <span class="badge bg-primary">Domiciliario</span>
                    Thomas
                </h6>
                <p class="m-b-15 m-t-15">
                    Hola Mundo
                </p>
            </li>
            <li>
                <h6>
                    <span class="badge bg-success">Cliente</span>
                    Invitado
                </h6>
                <p class="m-b-15 m-t-15">
                    Hola Mundo
                </p>
            </li>
            <li>
                <h6>
                    <span class="badge bg-primary">Domiciliario</span>
                    Thomas
                </h6>
                <p class="m-b-15 m-t-15">
                    Hola Mundo
                </p>
            </li>
        </ul>
    </div>
    hola
</app-card>